/* styles/Hero.module.css */

.hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5vw;
  background-color: #f8f8f8;
  background-image: url('/new.png');
  background-size: cover;
  background-position: center;
  min-height: 400px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.content {
  max-width: 50%;
  margin-top: -10vw; 
  text-align: left;
}

.title {
  font-size: 6vw;
  line-height: 1.2;
  color: #1d1d1f;
}

.highlight {
  color: #ff3e6c;
}

.description {
  font-size: 2vw; 
  line-height: 1.5;
  color: #555;
}

.button {
  display: inline-block;
  padding: 2vw 4vw; 
  background-color: #ff3e6c;
  color: #fff;
  text-decoration: none;
  font-size: 1.5vw; 
  border-radius: 5px;
  margin-top: 2vw; 
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vw;
    min-height: auto;
  }

  .content {
    max-width: 100%;
    margin-top: -5vw;
  }

  .title {
    font-size: 10vw; 
  }

  .description {
    font-size: 4vw; 
  }

  .button {
    padding: 3vw 6vw;
    font-size: 3vw; 
    margin-top: 5vw; 
  }
}

@media (min-width: 1680px) {
  .hero {
    padding: 5vw 5vw;
    min-height: 800px;
  }

  .title {
    font-size: 60px;
  }

  .description {
    font-size: 30px; 
  }

  .button {
    padding: 15px 30px; 
    font-size: 16px;
    margin-top: 20px; 
  }
}
